@page "/MyDevice"
@namespace Functionland.FxBlox.Client.Core.Pages
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.MyDevice)]</PageTitle>

<div class="page-container">
    <div class="info-container">

        <div class="page-img"></div>

        <div class="state-info">

            <div class="blox-state">@BloxConnectionService.GetConnections().FirstOrDefault()?.Libp2pStatus</div>
            
            @if (BloxConnectionService.GetConnections().Any())
            {
                <div class="blox-id-title">Blox App Peer ID:</div>
                <div class="blox-id-value">@(BloxConnectionService.GetConnections().FirstOrDefault()?.Device.HardwareId)</div>
                @* <div class="blox-id-value">92843752582y59h25ph2ip5uh2uip35h2pih523oiu5h32h52i3uh52h35iu23h5</div> *@
            }
        </div>

        <div class="hardware-info">
            @if (BloxConnectionService.GetConnections().Any() && BloxConnectionService.GetConnections().FirstOrDefault()?.LastStatus != null)
            {
                <div class="cpu-info">CPU: @(BloxConnectionService.GetConnections().FirstOrDefault()?.LastStatus?.CpuUsage)%</div>
                <div class="ram-info">RAM: @(BloxConnectionService.GetConnections().FirstOrDefault()?.LastStatus?.MemoryUsage ?? 0) MB</div>
            }
        </div>
    </div>

    <div class="installed-stacks">

        @if (CurrentConnection is not null)
        {
            <div class="installed-stacks-title">
                Installed Stacks:
            </div>

            <div class="installed-stacks-list">
                @if (CurrentConnection.Stacks.Any())
                {
                    foreach (var stack in CurrentConnection.Stacks)
                    {
                        @* <div>
                            @($"{stack.Stack.Title}  {stack.Status}")
                        </div> *@

                        <div class="new-stack">
                            <div class="stack-title">
                                @stack.Stack.Title
                            </div>
                            <div class="stack-status">
                                @if (stack.Status.ToString() == "Running")
                                {
                                    <div>
                                        0.000034 ETH
                                    </div>
                                    <div class="status-icon running-state"></div>
                                    
                                }
                                else
                                {
                                    <div>
                                        @stack.Status
                                    </div>
                                    <div class="status-icon loading-state"></div>
                                }
                            </div>
                        </div>


                    }
                }
                else
                {
                    <p>No stack installed yet</p>
                }
                <FxButton Text="Add Stack"
                          Class="add-stack-button"
                          ButtonStyle="FxButtonStyle.Outline"
                          OnClick="AddStackClicked" />
            </div>
        }

    </div>
</div>