@inherits AppComponentBase;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">

<script>
    document.querySelector(".password-form").addEventListener("submit", function(event) {
            event.preventDefault();
    });
</script>

<div class="wizard-page">
    @if (WizardStep == BloxAddWizardStep.Welcome)
    {
        <div class="wizard-image welcome-image"></div>

        <div class="wizard-title">
            <div class="wizard-welcome">WELCOME</div>
            <div>Blox app setup</div>
        </div>

        <div class="wizard-content center-text intro-des">
            <div class="wizard-description center-text">
                <div>
                    Make sure your Blox is turned on!
                </div>
                <div>
                    And is somewhere near you…
                </div>
            </div>
        </div>

        <div class="wizard-action-wrapper">
            <FxButton Text="Setup a new device"
                ButtonStyle="FxButtonStyle.Normal"
                ButtonSize="FxButtonSize.Stretch"
                OnClick="@(GoToNextStepAsync)">
            </FxButton>
        </div>
    }
    else if (WizardStep == BloxAddWizardStep.ConnectToWallet)
    {
         <div class="progress-bar">
            <div class="progress-fill"></div>
            <div class="progress-empty"></div>
            <div class="progress-empty"></div>
        </div>

        // Temp placement
        <div class="gray-section">
            <div class="wifi-password-section">
                <div class="close-section">
                    <div class="close-btn"></div>
                </div>

                <div class="wifi-name">Enter password for “wifi-name”</div>

                <form class="password-form">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" autocomplete="off" required>
                    <button type="submit">Submit</button>
                </form>
            </div>
            
        </div>
        // Temp placement

        <div class="wizard-image setup-img"></div>
        <div class="wizard-title">Setup your wallet</div>
        <div class="wizard-content">
            @if(ProgressItems.Count <= 0) {
                <div class="wizard-description">
                <div>
                    Select the network:
                </div>
                @* <BitDropdown class="action-section" Items="GetBlockchainNetworks()" @bind-Value="SelectedNetwork" /> *@
                <ul class="list-wrapper">
                    @foreach(var item in GetBlockchainNetworks()) {
                        <li class="list-item">
                            <div class="item-box">
                                <div class="item-text">@item.Text</div>
                                <div class="item-check item-check-selected"></div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            } else {
                <div class="progress-container">
                    <ProgressList ProgressItems="ProgressItems" />
                </div>
            }
        </div>

        <div class="wizard-action-wrapper">
            @if (ProgressItems.Count <= 0)
            {
                <FxButton Text="Connect to wallet"
                    ButtonStyle="FxButtonStyle.Normal"
                    ButtonSize="FxButtonSize.Stretch"
                    OnClick="@(ConnectToWalletClicked)">
                </FxButton>
            }
            else
            {
                <FxButton Text="Cancel"
                    ButtonStyle="FxButtonStyle.Outline"
                    ButtonSize="FxButtonSize.Stretch">
                </FxButton>
            }
        </div>    
    } 
    else if (WizardStep == BloxAddWizardStep.ConnectToHotspot)
    {
         <div class="progress-bar">
            <div class="progress-fill"></div>
            <div class="progress-fill"></div>
            <div class="progress-empty"></div>
        </div> 

        <div class="wizard-image hotspot-img"></div>
        <div class="wizard-title">Connect to Blox hotspot</div>
        <div class="wizard-content">
            @if(ProgressItems.Count <= 0) {
                <div class="wizard-description">
                    <div class="center-text">
                        Make sure your blox is turned on and its hotspot is available.
                    </div>
                </div>
            } else {
                <div class="progress-container">
                    <ProgressList ProgressItems="ProgressItems" />
                </div>
            }
        </div>

        <div class="wizard-action-wrapper">
            @if (ProgressItems.Count <= 0)
            {
                <FxButton Text="Connect to hotspot"
                    ButtonStyle="FxButtonStyle.Normal"
                    ButtonSize="FxButtonSize.Stretch"
                    OnClick="@(ConnectToHotspotClicked)">
                </FxButton>
            }
            else
            {
                <FxButton Text="Cancel"
                    ButtonStyle="FxButtonStyle.Outline"
                    ButtonSize="FxButtonSize.Stretch">
                </FxButton>
            }
        </div>       
    }
    else if (WizardStep == BloxAddWizardStep.ConnectBloxToWifi)
    {
         <div class="progress-bar">
            <div class="progress-fill"></div>
            <div class="progress-fill"></div>
            <div class="progress-fill"></div>
        </div> 

        <div class="wizard-image wifi-img"></div>
        <div class="wizard-title">Connect Blox to Wi-Fi</div>
        <div class="wizard-content">
            @if(ProgressItems.Count <= 0) {
                <div class="wizard-description">
                    <div>
                        Select the Wi-Fi for you Blox to connect:
                    </div>
                    @* <BitDropdown Items="AvailableWifiList" @bind-Value="SelectedWifiForBlox" /> *@
                    <ul class="list-wrapper">
                    @foreach(var item in AvailableWifiList) {
                        <li class="list-item">
                            <div class="item-box">
                                <div class="item-text">@item.Text</div>
                                <div class="item-check"></div>
                            </div>
                        </li>
                    }
                </ul>
                </div>
            } else {
                <div class="progress-container">
                    <ProgressList ProgressItems="ProgressItems" />
                </div>
            }
        </div>

        <div class="wizard-action-wrapper">
            @if (ProgressItems.Count <= 0)
            {
                <FxButton Text="Connect Blox to Wi-Fi"
                    ButtonStyle="FxButtonStyle.Normal"
                    ButtonSize="FxButtonSize.Stretch"
                    OnClick="@(ConnectBloxToWifiClicked)">
                </FxButton>
            }
            else
            {
                <FxButton Text="Cancel"
                        ButtonStyle="FxButtonStyle.Outline"
                        ButtonSize="FxButtonSize.Stretch">
                </FxButton>
            }
        </div>
    }
</div>